fastapi
uvicorn

numpy
python-docx
python-multipart
pydantic
pydantic-settings
python-dotenv

rank_bm25
sentence_transformers
spacy

faiss-cpu
networkx
pyvis
pyvis-network
pgvector
psycopg2-binary
openai